html::-webkit-scrollbar{
    display: none;
}
body{
    background-color: rgb(219, 0, 0);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: fit-content;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header h1{
    padding: 10px 0 0 0;
    margin: 0;
    align-content: center;
    text-align: center;
}
.content-container{
    width: 100%;
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.image-part{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-part img{
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;
}
.image-part-text-part{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}
.text-part{
    width: 80%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.text-part p{
    font-size: 25px;
}
.text-part h1{
    font-size: 50px;
}