.gallery{
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
}
.gallery:hover{
    border: 3px solid rgb(78,133,252);
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}