body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
    height: 200vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(66, 170, 250);
    position: fixed;
    height: 100%;
    width: 7%;
}

nav img{
    width: 100px;
    height: 95px;
}

nav ul{
    list-style-type: circle;
}