body {
    height: 10000px;
}

div#div1 {
    position: static;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
}

div#div2 {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}

div#div3 {
    position: fixed;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}

#parent {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
}

#child {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background-color: blue;
}

#horizontal ul {
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 20px;
}

#horizontal ul li {
    float: left;
}

#horizontal ul li a {
    text-decoration: none;
    color: white;
    padding: 50px;
}

#horizontal ul li a:hover {
    background-color: rgb(100, 100, 100);
}

.active {
    background-color: rgb(65, 65, 65);
}

#vertical ul {
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 20px;
}

#vertical ul li {
    padding: 20px;
    margin: 35px;
}

#vertical ul li a {
    text-decoration: none;
    color: white;
    padding: 50px;
}

#vertical ul li a:hover {
    background-color: rgb(100, 100, 100);
}

#dropdown {
    overflow: hidden;
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#dropdown a {
    float: left;
    font-size: 16;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown {
    float: left;
    overflow: hidden;
}

#dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
    font: inherit;
}

#dropdown a:hover,
#nav-dropdown:hover {
    background-color: rgb(163, 89, 231);
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    box-shadow: 10px black;
}

#column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: rgb(209, 143, 63);
    height: 250px;
}

#column a {
    float: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav-dropdown:hover #dropdown-content {
    display: block;
}

#row:after {
    display: table;
}