body {
    height: 10000px;
}

div#div1 {
    position: static;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
}

div#div2 {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}

div#div3 {
    position: fixed;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}

#parent {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
}

#child {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background-color: blue;
}

#horizontal ul {
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 20px;
}

#horizontal ul li {
    float: left;
}

#horizontal ul li a {
    text-decoration: none;
    color: white;
    padding: 50px;
}

#horizontal ul li a:hover {
    background-color: rgb(100, 100, 100);
}

.active {
    background-color: rgb(65, 65, 65);
}

#vertical ul {
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 20px;
}

#vertical ul li {
    padding: 20px;
    margin: 35px;
}

#vertical ul li a {
    text-decoration: none;
    color: white;
    padding: 50px;
}

#vertical ul li a:hover {
    background-color: rgb(100, 100, 100);
}