body{
    height: 10000px;
}
div#div1{
    position: static;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
}
div#div2{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}
div#div3{
    position: fixed;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 3px solid black;
    left: 1000px;
    top: 100px
}
