article p{
    background-color: red;
    color: white;
    padding: 20px;
}
article div p{
    background-color: blue;
}
article ~ p{
    background-color: green;
    padding: 20px;
    color: white;
}