/* article p{
    background-color: red;
    color: white;
    padding: 20px;
} */
article > p{
    background-color: red;
    color: white;
    padding: 20px;  
}
article div p{
    background-color: blue;
    padding: 20px;
}
article ~ p{
    background-color: green;
    padding: 20px;
    color: white;
}
article + p{
    background-color: gold;
}
input:in-range{
    border: 2px solid green;
}
input:out-of-range{
    border: 2px solid red;
}
main p:first-child{
    background-color: pink;
}
#link:hover{
    background-color: blueviolet;
}
nav a{
    padding: 20px;
    margin: 20px;
}
nav{
    padding: 20px;
    background-color: rgb(35, 167, 255);
}
nav a:hover{
    background-color: rgb(35, 78, 219);
}