img{
    width: 200px;
    height: 200px;
}
@media(min-width: 1000px){
    body{
        background-color: antiquewhite;
        color: cornflowerblue;
    }
}
@media(max-width: 1000px){
    p{
        column-count: 2;
    }
    img{
        display: none;
    }
}
