body {
    background-color: rgba(135, 80, 156);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.header-left-side {
    display: flex;
    width: 50%;
    justify-content: center;
}

.header-left-side img {
    margin-right: 200px;
}

.header-right-side {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgba(136, 73, 136, 0.973)
}

.navbar a.active {
    background-color: rgba(119, 64, 119, 0.973);
}

.home {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.home h1 {
    font-size: 40px;
}

.home button {
    margin-top: 20px;
    width: 300px;
    height: 55px;
    font-size: 18px;
    border: none;
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.services {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background-color: rgba(23, 194, 164);
    padding: 0 0 100px 0;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.service-text-header {
    color: white;
    font-size: 40px;
    margin: 0;
}

.small-line {
    width: 100px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-text-text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 100px;
}

.service-squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    gap: 100px;
}

.service {
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 200px;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.service img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.service h3,
.service p {
    color: white;
    margin: 0;
}

.contact {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background-color: rgba(60, 84, 153);
    padding: 0 0 100px 0;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form-div {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    height: 500px;
}

.form-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.form-top input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(39, 58, 113);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    justify-content: center;
    align-items: center;
}

form button {
    width: 300px;
    height: 65px;
    border: none;
    background-color: rgba(48, 186, 231);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(39, 58, 113);
}