body{
    background-color: rgba(136, 73, 136, 0.973);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}
.header-left-side{
    display: flex;
    width: 50%;
    justify-content: center;
}
.header-left-side img{
    margin-right: 200px;
}
.header-right-side{
    display: flex;
    width: 50%;
    justify-content: flex-start;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}
.navbar a:hover{
    background-color: rgba(136, 73, 136, 0.973)
}
.navbar a.active{
    background-color: rgba(119, 64, 119, 0.973);
}
.home{
    height: 500px;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.home h1{
    font-size: 40px;
}

.home button{
    margin-top: 20px;
    width: 300px;
    height: 55px;
    font-size: 18px;
    border: none;
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}