body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 400px;
    height: 500px;
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, .1) 0 1px 1px 0 inset, rgba(50, 50, 93, .25) 0 50px 100px -20px, rgba(0, 0, 0, .3) 0 30px 60px -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 60%;
    height: auto;
    padding-top: 35px;
}
.form-login{
    background-color: lightblue;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 60%;
}
.form-login input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
} 